* {

	--body-margin: 1vmin;
	--small-font: .8rem;
	--bigger-font: 1.5rem;
	--big-font: 1.2rem;

	font-family: Arial, Helvetica, sans-serif;

	color: var(--text-color);
}

body[theme="navy"] {

	--header-color: rgb(50, 100, 200);
	--link-color: rgb(50, 100, 200);
	--title-color: rgb(16, 48, 86);
	--text-color: rgb(48, 48, 48);
}

a {

	color: var(--link-color);
}

html {

	font-size: 1.4vmax;
}

body {

	height: calc(100vh - 2 * var(--body-margin));
	width: calc(100vw - 2 * var(--body-margin));

	margin: var(--body-margin);

	display: grid;
	column-gap: 2%;
	grid-template-columns: min-content 1fr;
}

a.mention {

	width: 2vmax;
}

img {

	width: 100%;
}

.period {

	font-weight: bold;
}

.body {

	margin-left: 1vw;
}

.experience::before {
	
	font-weight: bold;
	content: "\25BA Acquired experience: ";
}

#left-panel > * > .header {

	color: var(--header-color);
	margin: .5vh 0;
}

#left-panel > #languages > .body {

	display: grid;
	grid-auto-rows: min-content;
	row-gap: 1vh;
}

#left-panel > #languages > .body > .list-element > .language::before {

	content: "\25BA";
}

#left-panel > #skills > .body > .list-element,
#left-panel > #languages > .body > .list-element {

	font-size: var(--small-font);
}

#left-panel, #left-panel > #personal-data {

	display: grid;
	grid-auto-rows: min-content;
	row-gap: .6vmin;
}

#left-panel > #personal-data > * {

	display: grid;
	grid-template-columns: min-content 1fr;
	column-gap: 1vw;
	font-size: var(--small-font);
	align-items: center;
	white-space: nowrap;
}

#left-panel > #personal-data > #e-mail {

	white-space: nowrap;
}

#right-panel > .header {

	text-align: center;
	color: var(--title-color);
}

#right-panel > .header > #name {
	
	font-size: var(--bigger-font);
}

#right-panel > .header > #title {
	
	font-size: var(--big-font);
}

#right-panel {

	display: grid;
	row-gap: 2.5vmax;
	grid-template-rows: repeat(3, min-content);
}

#right-panel > .body {

	display: contents;
}

#right-panel > .body > * > .header {

	color: var(--header-color);
	margin-bottom: 1vh;
}

#right-panel > .body > * > .body {

	font-size: var(--small-font);

	display: grid;
	grid-auto-rows: auto;
	row-gap: .5rem;
}

#right-panel > .body > #centers-of-interest > .body {
	row-gap: .2rem;
}