* {

	--body-margin: 1vmin;
	--small-font: .8rem;
	--header-color: rgb(50, 100, 200);

	font-family: Arial, Helvetica, sans-serif;
}

html {

	font-size: 1.4vmax;
}

body {

	height: calc(100vh - 2 * var(--body-margin));
	width: calc(100vw - 2 * var(--body-margin));

	margin: var(--body-margin);

	display: grid;
	column-gap: 2%;
	grid-template-columns: min-content 1fr;
}

a.mention {

	width: 2vmax;
}

img {

	width: 100%;
}

.period {

	font-weight: bold;
}

.body {

	margin-left: 1vw;
}

.experience::before {
	
	/*content: "&#xf138; Acquired experience: ";*/
	font-weight: bold;
	content: "Acquired experience: ";
}

#left-panel > * > .header {

	color: var(--header-color);
	margin: .5vh 0;
}

#left-panel > #skills > .body > .list-element,
#left-panel > #languages > .body > .list-element {

	font-size: var(--small-font);
}

#left-panel, #left-panel > #personal-data {

	display: grid;
	grid-auto-rows: min-content;
	row-gap: .6vw;
}

#left-panel > #personal-data > * {

	display: grid;
	grid-template-columns: min-content 1fr;
	column-gap: 1vw;
	font-size: var(--small-font);
	align-items: center;
	white-space: nowrap;
}

#left-panel > #personal-data > #e-mail {

	white-space: nowrap;
}

#right-panel > .header {

	text-align: center;
}

#right-panel {

	display: grid;
	row-gap: 2.5vmax;
	grid-template-rows: repeat(3, min-content);
}

#right-panel > .body {

	display: contents;
}

#right-panel > .body > * > .header {

	color: var(--header-color);
	margin-bottom: 1vh;
}

#right-panel > .body > * > .body {

	font-size: var(--small-font);

	display: grid;
	grid-auto-rows: auto;
	row-gap: .5rem;
}

#right-panel > .body > #centers-of-interest > .body {
	row-gap: .2rem;
}