:root {
	
	--default-font: 1.4vmax;

	--body-margin: 1vmin;

	--small-font: .8rem;
	--bigger-font: 1.5rem;
	--big-font: 1.2rem;
}

* {
	font-family: Arial, Helvetica, sans-serif;
}

[theme="navy"] {

	--lightest-color: rgba(255, 255, 255, 1);
	--darkest-color: rgba(0, 0, 0, 1);

	--dark-color: rgba(48, 48, 48, 1);

	--accent-color: rgba(50, 100, 200, 1);
	--dominant-color: rgba(16, 48, 86, 1);
}

[mapping="light"] {

	--header-color: var(--accent-color);
	--link-color: var(--accent-color);

	--title-color: var(--dominant-color);
	--title-contrast-color: var(--lightest-color);
	
	--text-color: var(--dark-color);
	--skill-time-text-color: var(--dominant-color);

	--line-color: var(--dominant-color);
	--line-contrast-color: var(--lightest-color);
}

[mapping="pdf"] {

	--header-color: var(--accent-color);
	--link-color: var(--accent-color);

	--title-color: var(--lightest-color);
	--title-contrast-color: var(--darkest-color);
	
	--text-color: var(--dark-color);
	--skill-time-text-color: var(--dominant-color);

	--line-color: var(--dominant-color);
	--line-contrast-color: var(--lightest-color);
}

body {
	
	color: var(--text-color);
}

a {

	color: var(--link-color);
}

html {

	font-size: var(--default-font);
}

body {

	height: calc(100vh - 2 * var(--body-margin));
	width: calc(100vw - 2 * var(--body-margin));

	margin: var(--body-margin);

	display: grid;
	column-gap: 2%;
	grid-template-columns: min-content 1fr;
}

.h-line {

	width: 100%;
	height: .5vh;
}

.h-line rect {

	width: 100%;
	height: 100%;
	fill: var(--accent-color);
}

a.mention {

	width: 2vw;
}

img {

	width: 100%;
}

#right-panel .body {

	margin-left: 1vw;
}

#left-panel .body {

	margin-left: .5vw;
}

.experience::before {
	
	font-weight: bold;
	content: "\25BA ";
}

#left-panel > * > .header {

	color: var(--header-color);
	margin: .5vh 0;
}

#left-panel > #languages > .body {

	display: grid;
	grid-auto-rows: min-content;
	row-gap: 1vh;
}

#left-panel > #languages > .body > .list-element > .language::before {

	content: "\25BA";
}

#left-panel > #skills > .body {

	display: grid;
	grid-auto-rows: auto;
	row-gap: 1vh;
}

#left-panel > #skills > .body > .category > .header {

	font-size: var(--small-font);
	font-weight: bolder;
}

#left-panel > #skills > .body > .category > .body > .list-element > .experience-time {

	font-weight: bold;
	color: var(--skill-time-text-color);
	white-space: nowrap;
}

#left-panel > #skills > .body > .category > .body > .list-element {

	display: grid;
	grid-template-columns: 6ch auto;
}

#left-panel > #skills > .body > .category > .body > .list-element,
#left-panel > #languages > .body > .list-element {

	font-size: var(--small-font);
}

#left-panel {

	display: grid;
	grid-template-rows: 
		repeat(2, min-content) /* photos, personnal-data */
		repeat(2, 1px min-content); /* Languages, skills */
	row-gap: .6vh;
}

#left-panel > #personal-data {

	display: grid;
	grid-auto-rows: min-content;
	row-gap: .6vh;
}

#left-panel > #personal-data > * {

	display: grid;
	grid-template-columns: min-content 1fr;
	column-gap: 1vw;
	font-size: var(--small-font);
	align-items: center;
	white-space: nowrap;
}

#left-panel > #personal-data > #e-mail {

	white-space: nowrap;
}

#right-panel > .header {

	text-align: center;
	background-color: var(--title-color);
	color: var(--title-contrast-color);
}

#right-panel > .header > #name {
	
	font-size: var(--bigger-font);
}

#right-panel > .header > #title {
	
	font-size: var(--big-font);
}

#right-panel {

	display: grid;
	row-gap: 3vh;
	grid-auto-rows: min-content;
}

#right-panel > .body {

	display: contents;
}

#right-panel > .body > * > .header {

	color: var(--header-color);
	margin-bottom: 1vh;
}

#right-panel > .body > * > .body {

	font-size: var(--small-font);

	display: grid;
	grid-auto-rows: auto;
	row-gap: 1.8vh;
}

#right-panel > .body > #centers-of-interest > .body {

	row-gap: .2vh;
}

.content-title {

	font-size: var(--default-font);
	font-weight: bold;
}
